{
  "openapi": "3.1.0",
  "info": {
    "title": "DiaDNAStone Verification API",
    "description": "APIs to verify and register stones for DiaDNA system.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.diadna.cloud/"
    }
  ],
  "paths": {
    "/diamond/areStonesVerified": {
      "post": {
        "summary": "Check if stones are verified",
        "description": "Verifies if the provided stones are matched, not matched, or need referral.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StonesVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StonesVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/areStonesRegistered": {
      "post": {
        "summary": "Check if stones are registered",
        "description": "Checks if the provided stones are already registered in the system.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StonesRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StonesRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/getMainFilesByStoneId": {
      "get": {
        "summary": "Get main files by stone ID",
        "description": "Fetches the main files associated with a specific stone ID and stage.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "stoneId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The stone ID (e.g., 12659-229)"
          },
          {
            "name": "stage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ROUGH", "POLISH", "AFTERSAWING"]
            },
            "description": "Stage of the stone"
          }
        ],
        "responses": {
          "200": {
            "description": "Main files fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/getFilesByQueryId": {
      "get": {
        "summary": "Get files by query ID",
        "description": "Fetches file data for a given query ID, including transactions and mains.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "queryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Query ID to fetch data for"
          }
        ],
        "responses": {
          "200": {
            "description": "Files data fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesByQueryIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queryGroup/addQueryIdsToQueryGroup": {
      "post": {
        "summary": "Update query group with query IDs",
        "description": "Adds or removes query IDs from the specified query group.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQueryGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQueryGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/submitMainFiles": {
      "post": {
        "summary": "Submit Main File Scan IDs",
        "description": "Submits main file scan IDs to the system for processing or storage.",
        "security": [
          {
            "BearerAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitMainFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Main files submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitMainFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/register-report-id": {
      "post": {
        "summary": "Register Report ID",
        "description": "Registers a report ID with lab details and stone ID.",
        "security": [
          {
            "BearerAuth": [],
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterReportIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report ID registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterReportIdResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SecretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "secret-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "StonesVerificationRequest": {
        "type": "object",
        "properties": {
          "stones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "type": {
                  "type": "string",
                  "enum": ["POLISH-SPLIT", "ROUGH-ROUGH", "POLISH-ROUGH", "POLISH-POLISH", "SPLIT-ROUGH", "SPLIT-SPLIT"]
                }
              },
              "required": ["id", "type"]
            }
          },
          "companyName": { "type": "string" }
        },
        "required": ["stones", "companyName"]
      },
      "StonesVerificationResponse": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stone": { "type": "string" },
                "result": {
                  "type": "string",
                  "enum": ["MATCHED", "NO MATCH", "REFER", "No Query"]
                }
              },
              "required": ["stone", "result"]
            }
          }
        }
      },
      "StonesRegistrationRequest": {
        "type": "object",
        "properties": {
          "stones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "type": {
                  "type": "string",
                  "enum": ["POLISH", "ROUGH", "AFTERSAWING"]
                }
              },
              "required": ["id", "type"]
            }
          },
          "companyName": { "type": "string" }
        },
        "required": ["stones", "companyName"]
      },
      "StonesRegistrationResponse": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "type": { "type": "string" },
                "result": { "type": "boolean" }
              },
              "required": ["id", "type", "result"]
            }
          }
        }
      },
      "MainFilesResponse": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "is_active": { "type": "boolean" },
                "created_at": { "type": "string", "format": "date-time" },
                "created_by": { "type": ["string", "null"] },
                "updated_at": { "type": "string", "format": "date-time" },
                "updated_by": { "type": ["string", "null"] },
                "deleted_at": {
                  "type": ["string", "null"],
                  "format": "date-time"
                },
                "deleted_by": { "type": ["string", "null"] },
                "id": { "type": "string" },
                "name": { "type": "string" },
                "base": { "type": "string" },
                "part": { "type": ["string", "null"] },
                "scan": { "type": "string" },
                "stage": { "type": "string" },
                "points": { "type": "string" },
                "companyId": { "type": "string" }
              },
              "required": [
                "id",
                "name",
                "base",
                "scan",
                "stage",
                "companyId",
                "is_active",
                "created_at",
                "updated_at",
                "points"
              ]
            }
          }
        },
        "required": ["Table"]
      },
      "FilesByQueryIdResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "base": { "type": "string" },
              "remark": { "type": "string" },
              "expected_result": { "type": "string" },
              "stage": { "type": "string" },
              "status": { "type": "string" },
              "jsonData": { "type": ["object", "null"] },
              "companyId": { "type": "string" },
              "Table": {
                "type": "object",
                "properties": {
                  "transactions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "stage": { "type": "string" },
                        "points": { "type": "string" }
                      },
                      "required": ["name", "stage", "points"]
                    }
                  },
                  "mains": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "stage": { "type": "string" },
                        "points": { "type": "string" }
                      },
                      "required": ["name", "stage", "points"]
                    }
                  }
                }
              }
            },
            "required": [
              "id",
              "base",
              "remark",
              "expected_result",
              "stage",
              "status",
              "jsonData",
              "companyId",
              "Table"
            ]
          }
        }
      },
      "UpdateQueryGroupRequest": {
        "type": "object",
        "properties": {
          "QueryGroupID": {
            "type": "integer",
            "description": "ID of the query group"
          },
          "addedQueryIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of query IDs to add"
          },
          "removedQueryIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of query IDs to remove"
          }
        },
        "required": ["QueryGroupID", "addedQueryIds", "removedQueryIds"]
      },
      "UpdateQueryGroupResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Query Group Updated Successfully"
          }
        },
        "required": ["message"]
      },
      "SubmitMainFilesRequest": {
        "type": "object",
        "properties": {
          "scanIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of scan ID numbers to be submitted"
          }
        },
        "required": ["scanIds"]
      },
      "SubmitMainFilesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Main files submitted successfully."
          }
        },
        "required": ["success", "message"]
      },
      "RegisterReportIdRequest": {
        "type": "object",
        "properties": {
          "queryId": {
            "type": "string",
            "description": "Optional query ID"
          },
          "labName": {
            "type": "string",
            "enum": ["TRACR", "GIA", "IGI", "HRD", "Company"],
            "description": "Name of the lab"
          },
          "labNumber": {
            "type": "string",
            "description": "Lab number"
          },
          "stoneId": {
            "type": "string",
            "description": "Stone ID"
          }
        },
        "required": ["labName", "labNumber", "stoneId"],
        "example": {
          "queryId": "842738",
          "labName": "GIA",
          "labNumber": "1546584659DDA",
          "stoneId": "KP8ABX947-004.5"
        }
      },
      "RegisterReportIdResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Report ID uploaded successfully"
          }
        },
        "required": ["success", "message"]
      }
    }
  }
}
